﻿@model IEnumerable<CmsShpoingcart.Models.ViewModels.Pages.PageVm>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Edit Page", "Add Page")
</p>
@if (!Model.Any())
{

<h1 class="text-center">Nothing to show</h1>
}
else
{
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Body
        </th>
        <th>
            Sorting
        </th>
        <th>
            HasSidebar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sorting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Edit", "PageEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "PageDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "PageDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
}